h1 {
color:white;
background-color:black;
}



.box {
height: 60%;
width: 70%;
background-color:lightgrey;
box-shadow: 0 1px 1px ;
padding: 25px 50px 75px 100px;

}


.user_resp {
color:white;
background-color:black;
font-size:20;
}

.footer {
margin-bottom: 0;
}
